@model ClockIndexModel

<div>
    <ul class="pagination">
        <li class="page-item">
        </li>
        @for (int i = 1; i < Model.AmountOfPage; i++)
        {
            <li class="page-item"><a class="page-link" href="~/Clock/PageNavigation?currentPage=@i" onclick="" role="button">@i</a></li>
        }
        <li class="page-item">
        </li>
    </ul>
</div>