@model ClockIndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="indexTable">
    @Html.Partial("~/Views/Partials/IndexTable.cshtml", Model)
</div>

<div id="naviganionPanel"> @Html.Partial("~/Views/Partials/NavigationPanel.cshtml", Model)</div>